<% include ./partials/header %>

<h1>Score Keeper</h1>
<form action="/playersubmit" method="POST">
    <input type="text" name="player1">
    <input type="text" name="player2">
    <input type="text" name="player3">
    <input type="text" name="player4">
    <button>Submit</button>
</form>
<% include ./partials/footer %>