<% include ./partials/header %>

<table>
    <thead>
        <tr>
            <th></th>
            <% playerName.forEach((name) => { %>
            <th>
                <%= name %>
            </th>
            <% }) %> %>
        </tr>
    </thead>

    <tbody id="record">
        <tr>
            <td>Sum of Score</td>
            <td id="sum1"></td>
            <td id="sum2"></td>
            <td id="sum3"></td>
            <td id="sum4"></td>
        </tr>
        <% playerScore.forEach((scores, index) => { %>
            <tr>
                <td>Round <%= index + 1 %></td>
                <% scores.forEach((score) => { %>
                    <td><input type="number" value="<%= score %>" class="added added-<%= index + 1 %>"></td>
                <% }) %>
            </tr>
        <% }) %>
    </tbody>

</table>

<button class="btn btn-add" id="round">ADD ROUND</button>
<button id="save">SAVE</button>

<% include ./partials/footer %>